<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs') %>
</head>

<body>
    <div class="moviemagic-container">
        <a href="/" style="text-decoration:none">
            <h3>MOVIESMAGIC</h3>
        </a>
    </div>
</body>

</html>