<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs') %>
</head>

<body>
    <div class="moviemagic-container">
        <a href="/" style="text-decoration:none; display:flex;">
            <img src="/2.png" alt="" style="height:15vh; margin-left:3%" />
            <h3 id="magic-title">MOVIESMAGIC</h3>
        </a>
        <div class="container">
            <input class="search-input" type="text" placeholder="Search...">
            <div class="search"></div>
        </div>
    </div>
</body>

</html>